
.main{

    width: 100%;
    display: grid;
    grid-template-columns:25% 25% 25% auto;
    margin: 50px;
  
   
}
.header{

display: flex;
align-items: center;
margin-left: 10%;
float: left;
width: 50%;
}
.header input {
    margin-left: 2%;
    border-radius: 5px;
    padding: 10px;
}
.header button {
    margin-left: 1%;
    border-radius: 5px;
    padding: 8px;
    background-color: aqua;
}
.sort{

    display: flex;
    align-items: center;
    margin-left: 10%;
    float: right;
    margin-right: 10%;
    }
    .sort select{
        padding: 10px;
        border-radius: 10px;
        margin-left: 10px;
    }


.area{
    /* 
    display:flex;
    flex-direction: row wrap;  */


}

.mainbox{
    margin: 2% 2%;
    height: 400px;
    width: 300px;
    background-color: antiquewhite;
    border: 5px sold red;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
   

}
.img{
    width: 290px;
    height: 300px;
}